### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [37]:
print(school_data_complete.head(10))
print(school_data_complete.tail(10))
print(school_data_complete["math_score"].count())
print(school_data_complete.shape)

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School
5           5      Bryan Miranda      M   9th  Huang High School
6           6      Sheena Carter      F  11th  Huang High School
7           7       Nicole Baker      F  12th  Huang High School
8           8       Michael Roth      M  10th  Huang High School
9           9     Matthew Greene      M  10th  Huang High School

   reading_score  math_score  School ID      type  size   budget
0             66          79          0  District  2917  1910635
1             94          61          0  District  2917  1910635
2             90          60          0  District  2917  1910635
3             67          58          0  District  2917  1910635
4             97          84          0  District  2917  1910635
5             94          94          0  District  2917  1910635
6             82          80          0  District  2917  1910635
7             96          69          0  District  2917  1910635
8             95          87          0  District  2917  1910635
9             96          84          0  District  2917  1910635
       Student ID     student_name gender grade         school_name  \
39160       39160     Katie Weaver      F  11th  Thomas High School
39161       39161      April Reyes      F  10th  Thomas High School
39162       39162      Derek Weeks      M  12th  Thomas High School
39163       39163       John Reese      M  11th  Thomas High School
39164       39164   Joseph Anthony      M   9th  Thomas High School
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID     type  size   budget
39160             89          86         14  Charter  1635  1043130
39161             70          84         14  Charter  1635  1043130
39162             94          77         14  Charter  1635  1043130
39163             90          75         14  Charter  1635  1043130
39164             97          76         14  Charter  1635  1043130
39165             99          90         14  Charter  1635  1043130
39166             95          70         14  Charter  1635  1043130
39167             73          84         14  Charter  1635  1043130
39168             99          90         14  Charter  1635  1043130
39169             95          75         14  Charter  1635  1043130
39170
(39170, 11)

In [38]:
district_summary_df = pd.DataFrame(
    [[0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0]], columns=[
    "Total Schools", "Total Students", "Total Budget", 
     "Average Math Score", "Average Reading Score", 
     "% Passing Math", "% Passing Reading", "% Passing Overall"]  )

In [39]:
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,0,0,0,0.0,0.0,0.0,0.0,0.0

In [40]:
total_schools = school_data_complete["school_name"].nunique()
print(total_schools)

15

In [41]:
district_summary_df["Total Schools"] = total_schools

In [42]:
total_students = school_data_complete["student_name"].count()
print(total_students)

39170

In [43]:
district_summary_df["Total Students"] = total_students

In [44]:
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [45]:
district_summary_df["Total Budget"] = total_budget

In [46]:
average_math = school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [47]:
district_summary_df["Average Math Score"] = average_math

In [48]:
average_reading = school_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [49]:
district_summary_df["Average Reading Score"] = average_reading

In [50]:
df = school_data_complete
df.shape

(39170, 11)

In [51]:
filter_m = df["math_score"] >= 70

In [52]:
math_count = len(df[filter_m])

In [53]:
filter_r = df["reading_score"] >= 70

In [54]:
reading_count = len(df[filter_r])

In [55]:
math_count

29370

In [56]:
reading_count

33610

In [57]:
p_pass_math = (math_count / len(df["math_score"])) * 100

pretty_math = round(p_pass_math, 2)

In [58]:
p_pass_reading = (reading_count / len(df["reading_score"])) * 100

pretty_reading = round(p_pass_reading, 2)

In [59]:
df_overall = df[(filter_m) & (filter_r)]

In [60]:
overall_count = len(df_overall)

In [61]:
p_pass_overall = ( overall_count / len(df["math_score"]) ) * 100

pretty_overall = round(p_pass_overall, 2)

In [62]:
district_summary_df["% Passing Math"] = pretty_math

In [63]:
district_summary_df["% Passing Reading"] = pretty_reading

In [64]:
district_summary_df["% Passing Overall"] = pretty_overall

In [65]:
district_summary_df.style.format({
    "Total Budget": "${:,.2f}",
    "Average Math Score": "{:.2f}",
    "Average Reading Score": "{:.2f}",
    "% Passing Math": "{:.2f}%",
    "% Passing Reading": "{:.2f}%",
    "% Passing Overall": "{:.2f}%"
})

In [66]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [67]:
sch_summary_df = pd.DataFrame( 
    
    index=[name for name in sorted(set(df["school_name"]))],
    
    columns=
    [
        "School Type",
        "Total Students", 
        "Total School Budget",
        "Per Student Budget",
        "Average Math Score",
        "Average Reading Score",
        "% Passing Math",
        "% Passing Reading",
        "% Overall Passing"
    ]  
)


sch_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
schools_list = list(sch_summary_df.index)
for sch in schools_list:
    print(sch)

Bailey High School
Cabrera High School
Figueroa High School
Ford High School
Griffin High School
Hernandez High School
Holden High School
Huang High School
Johnson High School
Pena High School
Rodriguez High School
Shelton High School
Thomas High School
Wilson High School
Wright High School

In [69]:
sch_summ_testdf = school_data_complete[:]

sch_type = sch_summ_testdf.groupby("school_name")["type"]
sch_totstud = sch_summ_testdf.groupby("school_name")["student_name"].count()
sch_budget = sch_summ_testdf.groupby("school_name")["budget"].sum()

sch_perstudbudg = sch_budget / sch_totstud



# sch_avgmath = sch_summ_testdf.groupby("school_name")["math_scores"].mean()
# sch_avgreading = sch_summ_testdf.groupby("school_name")["reading_scores"].mean()

# sch_perpass_m = sch_summ_testdf.groupby("school_name")   # ( /  ) * 100
# sch_perpass_r = sch_summ_testdf.groupby("school_name")["budget"].sum() # ( /  ) * 100
# sch_perpass_o = sch_summ_testdf.groupby("school_name")["budget"].sum() # ( /  ) * 100





sch_summ_testdf.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [99]:
testdf = school_data_complete[:]
testdf_ = testdf.groupby(testdf["school_name", "budget"]).agg(["sum"])
tot_bud = testdf_

testdf_ = testdf.groupby(testdf["school_name"])["student_name"].agg(["count"])
tot_stud = testdf_

testdf_ = testdf.groupby(testdf["school_name"])["student_name"].agg(["count"])
tot_stud = testdf_

print(testdf_1.head(10))

0    79
1    61
2    60
3    58
4    84
5    94
6    80
7    69
8    87
9    84
Name: math_score, dtype: int64

In [90]:
testdf_1.agg(["sum", "count", "mean"])

                          sum  count       mean
school_name
Bailey High School     383393   4976  77.048432
Cabrera High School    154329   1858  83.061895
Figueroa High School   226223   2949  76.711767
Ford High School       211184   2739  77.102592
Griffin High School    122360   1468  83.351499
Hernandez High School  358238   4635  77.289752
Holden High School      35784    427  83.803279
Huang High School      223528   2917  76.629414
Johnson High School    366942   4761  77.072464
Pena High School        80654    962  83.839917
Rodriguez High School  307294   3999  76.842711
Shelton High School    146796   1761  83.359455
Thomas High School     136389   1635  83.418349
Wilson High School     190115   2283  83.274201
Wright High School     150628   1800  83.682222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type