In [23]:
import pandas as pd
from IPython.display import display

In [24]:
df = pd.read_csv("budget_data.csv")

In [25]:
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [26]:
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [29]:
display(df
     
     ["Profit/Losses"]
     .rolling(3)
     .sum()
     .mean()
    


)

767819.9523809524