### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df = school_data_complete.copy()
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
df.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [3]:
## District Summary

# Calculate the total number of schools

def count_unique(obj):
    return len(obj.unique())

total_schools = count_unique(df["school_name"])
print(f"Total schools = {total_schools}")

Total schools = 15

In [4]:
## District Summary

# Calculate the total number of students

total_students = df["student_name"].count()
print(f"Total students = {total_students}")

Total students = 39170

In [5]:
## District Summary

# Calculate the total budget

def sum_unique(obj):
    return sum(obj.unique())

total_budget = sum_unique(df["budget"])
print(f"Total budget = {total_budget}")

Total budget = 24649428

In [6]:
## District Summary

# Calculate the average math score

def calc_average(obj):
    return obj.mean()

avg_mscore = calc_average(df["math_score"])
print(f"Average math score = {avg_mscore}")

Average math score = 78.98537145774827

In [7]:
## District Summary

# Calculate the average reading score

avg_rscore = calc_average(df["reading_score"])
print(f"Average reading score = {avg_rscore}")

Average reading score = 81.87784018381414

In [8]:
## District Summary

# Calculate the percentage of students with a passing math score (70 or greater)

total_pass_math = len(df[df["math_score"] >= 70])
total_fail_math = len(df[df["math_score"] < 70])

total_take_math = total_pass_math + total_fail_math

print(total_pass_math + total_fail_math)              

print(total_students == total_pass_math + total_fail_math) 

print(f"Total pass math = {total_pass_math}")
print(f"Total fail math = {total_fail_math}")

per_pmath = (total_pass_math / total_take_math) * 100

print(f"Total % pass math = {per_pmath}")

39170
True
Total pass math = 29370
Total fail math = 9800
Total % pass math = 74.9808526933878

In [9]:
## District Summary

# Calculate the percentage of students with a passing reading score (70 or greater)

total_pass_reading = len(df[df["reading_score"] >= 70])
total_fail_reading = len(df[df["reading_score"] < 70])

total_take_reading = total_pass_reading + total_fail_reading

print(total_pass_reading + total_fail_reading)              

print(total_students == total_pass_reading + total_fail_reading) 

print(f"Total pass reading = {total_pass_reading}")
print(f"Total fail reading = {total_fail_reading}")

per_preading = (total_pass_reading / total_take_reading) * 100

print(f"Total % pass reading = {per_preading}")

39170
True
Total pass reading = 33610
Total fail reading = 5560
Total % pass reading = 85.80546336482001

In [10]:
## District Summary

# Calculate the percentage of students who passed math and reading (% Overall Passing)

total_pass_both = len(      df[   (df["reading_score"] >= 70) & (df["math_score"] >= 70) ])

total_take_both = total_students    

print(f"Total pass both = {total_pass_both}")
print(f"Total take both = {total_take_both}")

per_pboth = (total_pass_both / total_take_both) * 100

print(f"Total % pass both = {per_pboth}")

Total pass both = 25528
Total take both = 39170
Total % pass both = 65.17232575950983

In [11]:
# Create a dataframe to hold the above results

district_summary = pd.DataFrame(
    
    {
        "Total Schools" : [total_schools],
        "Total Students" : [total_students],
        "Total Budget" : [total_budget],
        "Average Math Score" : [avg_mscore],
        "Average Reading Score" : [avg_rscore],
        "% Passing Math" : [per_pmath],
        "% Passing Reading" : [per_preading],
        "% Overall Passing" : [per_pboth],
        "Total Schools" : [total_schools],
                
    }
        
)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
# Optional: give the displayed data cleaner formatting
    
    ## look up how to do this
    
    
# district_summary.map("{}".format)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
# School Summary
# Create an overview table that summarizes key metrics about each school, including:

# School Name (make index)
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

df = school_data_complete.copy()

#df 
df1 = df.loc[:, ["school_name", "size", "budget", "math_score", "reading_score"]]



df1 = df1.groupby("school_name").mean()
df1

                         size     budget  math_score  reading_score
school_name
Bailey High School     4976.0  3124928.0   77.048432      81.033963
Cabrera High School    1858.0  1081356.0   83.061895      83.975780
Figueroa High School   2949.0  1884411.0   76.711767      81.158020
Ford High School       2739.0  1763916.0   77.102592      80.746258
Griffin High School    1468.0   917500.0   83.351499      83.816757
Hernandez High School  4635.0  3022020.0   77.289752      80.934412
Holden High School      427.0   248087.0   83.803279      83.814988
Huang High School      2917.0  1910635.0   76.629414      81.182722
Johnson High School    4761.0  3094650.0   77.072464      80.966394
Pena High School        962.0   585858.0   83.839917      84.044699
Rodriguez High School  3999.0  2547363.0   76.842711      80.744686
Shelton High School    1761.0  1056600.0   83.359455      83.725724
Thomas High School     1635.0  1043130.0   83.418349      83.848930
Wilson High School     2283.0  1319574.0   83.274201      83.989488
Wright High School     1800.0  1049400.0   83.682222      83.955000

In [14]:
s = df[df["math_score"] >= 70].sort_values("math_score").groupby("school_name")["math_score"].count()

df1["num mpassers"] = s

df1["% Passing Math"] = df1["num mpassers"] / df1["size"] * 100

df1

s = df[df["reading_score"] >= 70].sort_values("reading_score").groupby("school_name")["reading_score"].count()
df1["num rpassers"] = s

df1["% Passing Reading"] = df1["num rpassers"] / df1["size"] * 100

df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading
school_name,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111

In [15]:
s = df[ (df["math_score"] >= 70) & (df["reading_score"] >= 70) ].groupby("school_name")["math_score"].count()

# print(s)



df1["num bothpassers"] = s

# df1

df1["% Overall Passing"] = df1["num bothpassers"] / df1["size"] * 100

df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading,num bothpassers,% Overall Passing
school_name,,,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333

In [16]:
df = school_data_complete.copy()
s = df.groupby("school_name")["type"].max()
type(s)

print(s)

df1["School Type"] = s

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [17]:
df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading,num bothpassers,% Overall Passing,School Type
school_name,,,,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283,District
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769,Charter
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476,District
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887,District
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455,Charter
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508,District
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166,Charter
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884,District
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172,District
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541,Charter
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247,District
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107,Charter
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012,Charter
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567,Charter
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333,Charter

In [19]:
df1["Per Student Budget"] = df1["budget"] / df1["size"] 
df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading,num bothpassers,% Overall Passing,School Type,Per Student Budget
school_name,,,,,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283,District,628.0
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769,Charter,582.0
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476,District,639.0
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887,District,644.0
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455,Charter,625.0
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508,District,652.0
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166,Charter,581.0
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884,District,655.0
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172,District,650.0
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541,Charter,609.0
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247,District,637.0
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107,Charter,600.0
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012,Charter,638.0
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567,Charter,578.0
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333,Charter,583.0

In [20]:
school_summary = df1[ ["School Type", "size", "budget", "Per Student Budget", "math_score", "reading_score", 
                      
                      "% Passing Math", "% Passing Reading", "% Overall Passing"]  ]

school_summary = school_summary.rename(columns={"size":"Total Students", "budget":"Total School Budget",
                      "math_score":"Average Math Score", "reading_score":"Average Reading Score", 
                      })

school_summary = school_summary.rename_axis(None, axis = 0)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [24]:
df = school_summary

df.sort_values("% Overall Passing", ascending=False).iloc[0:5]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
df.sort_values("% Overall Passing", ascending=True).iloc[0:5]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [44]:
df = school_data_complete.copy()
df = df.groupby(["school_name", "grade"])["math_score"].mean()
df.unstack()

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [58]:
df = school_data_complete.copy()
df = df[["school_name", "math_score", "grade"]]
df.groupby(["school_name", "grade"])["math_score"].mean().unstack()



# df.unstack()

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [59]:
df = school_data_complete.copy()
df = df.groupby(["school_name", "grade"])["reading_score"].mean()
df.unstack()

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [71]:
df = school_summary
df = df[["Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

bins = [0, 584, 629, 644, 679]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# pd.cut(df["Average Math Score"], bins=bins, labels=labels, include_lowest=True)

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
df = school_summary
df = df[["Total Students", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

bins = []
labels = []

# pd.cut(df["Average Math Score"], bins=bins, labels=labels, include_lowest=True)

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
df = school_summary
df = df[["School Type", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

bins = [0, 584, 629, 644, 679]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# pd.cut(df["Average Math Score"], bins=bins, labels=labels, include_lowest=True)