### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

df = school_data_complete.copy()

In [2]:
# Look at data

df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Inspect info on df

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [4]:
## District Summary

# Calculate the total number of schools

total_schools = df["school_name"].nunique()

print(f"Total schools = {total_schools}")

Total schools = 15

In [5]:
## District Summary

# Calculate the total number of students

total_students = df["student_name"].count()

print(f"Total students = {total_students}")

Total students = 39170

In [6]:
## District Summary

# Calculate the total budget

total_budget = df["budget"].unique().sum()

print(f"Total budget = {total_budget}")

Total budget = 24649428

In [7]:
## District Summary

# Calculate the average math score

avg_mscore = df["math_score"].mean()

print(f"Average math score = {avg_mscore}")

Average math score = 78.98537145774827

In [8]:
## District Summary

# Calculate the average reading score

avg_rscore = df["reading_score"].mean()

print(f"Average reading score = {avg_rscore}")

Average reading score = 81.87784018381414

In [9]:
## District Summary

# Calculate the percentage of students with a passing math score (70 or greater)

total_pass_math = len(df[df["math_score"] >= 70])
total_fail_math = len(df[df["math_score"] < 70])

total_take_math = total_pass_math + total_fail_math

print(f"Total taking math = {total_pass_math + total_fail_math}")              
print(f"(Adds up? {total_students == total_take_math})\n") 

print(f"Total pass math = {total_pass_math}")
print(f"Total fail math = {total_fail_math}")

per_pmath = (total_pass_math / total_take_math) * 100

print(f"\nTotal % pass math = {per_pmath}")

Total taking math = 39170
(Adds up? True)

Total pass math = 29370
Total fail math = 9800

Total % pass math = 74.9808526933878

In [10]:
## District Summary

# Calculate the percentage of students with a passing reading score (70 or greater)

total_pass_reading = len(df[df["reading_score"] >= 70])
total_fail_reading = len(df[df["reading_score"] < 70])

total_take_reading = total_pass_reading + total_fail_reading

print(f"Total taking reading = {total_pass_reading + total_fail_reading}")              
print(f"(Adds up? {total_students == total_pass_reading + total_fail_reading})\n") 

print(f"Total pass reading = {total_pass_reading}")
print(f"Total fail reading = {total_fail_reading}")

per_preading = (total_pass_reading / total_take_reading) * 100

print(f"\nTotal % pass reading = {per_preading}")

Total taking reading = 39170
(Adds up? True)

Total pass reading = 33610
Total fail reading = 5560

Total % pass reading = 85.80546336482001

In [11]:
## District Summary

# Calculate the percentage of students who passed math and reading (% Overall Passing)

total_pass_both = len(df[(df["reading_score"] >= 70) & (df["math_score"] >= 70)])
total_fail_both = len(df[(df["reading_score"] < 70) & (df["math_score"] < 70)])
total_pmath_freading = len(df[(df["reading_score"] < 70) & (df["math_score"] >= 70)])
total_fmath_preading = len(df[(df["reading_score"] >= 70) & (df["math_score"] < 70)])

total_take_both = total_pass_both + total_fail_both + total_pmath_freading + total_fmath_preading

print(f"Total taking both math and reading = {total_take_both}")
print(f"(Adds up? {total_students == total_take_both == total_students})\n") 

print(f"Total pass both = {total_pass_both}")
print(f"Total fail both = {total_fail_both}")
print(f"Total pass math and fail reading = {total_pmath_freading}")
print(f"Total fail math and pass reading = {total_fmath_preading}")

per_pboth = (total_pass_both / total_take_both) * 100

print(f"\nTotal % pass both = {per_pboth}")

Total taking both math and reading = 39170
(Adds up? True)

Total pass both = 25528
Total fail both = 1718
Total pass math and fail reading = 3842
Total fail math and pass reading = 8082

Total % pass both = 65.17232575950983

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [12]:
# Create a dataframe to hold the above results

district_summary = pd.DataFrame(
    
    {
        "Total Schools" : [total_schools],
        "Total Students" : [total_students],
        "Total Budget" : [total_budget],
        "Average Math Score" : [avg_mscore],
        "Average Reading Score" : [avg_rscore],
        "% Passing Math" : [per_pmath],
        "% Passing Reading" : [per_preading],
        "% Overall Passing" : [per_pboth],
                      
    }
        
)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
ds_pretty = pd.DataFrame()

ds_pretty["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
ds_pretty["Total Students"] = district_summary["Total Students"].map("{:,}".format)
ds_pretty["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
ds_pretty["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
ds_pretty["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
ds_pretty["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
ds_pretty["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
ds_pretty["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)

ds_pretty

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
# School Summary
# Create an overview table that summarizes key metrics about each school, including:

# School Name (make index)
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

# Make copy of original merged df

df = school_data_complete.copy()

# Take all rows and only select columns

df1 = df.loc[:, ["school_name", "size", "budget", "math_score", "reading_score"]]

# Create groupby object get mean

df1 = df1.groupby("school_name").mean()

# Look at resulting df

df1

                         size     budget  math_score  reading_score
school_name
Bailey High School     4976.0  3124928.0   77.048432      81.033963
Cabrera High School    1858.0  1081356.0   83.061895      83.975780
Figueroa High School   2949.0  1884411.0   76.711767      81.158020
Ford High School       2739.0  1763916.0   77.102592      80.746258
Griffin High School    1468.0   917500.0   83.351499      83.816757
Hernandez High School  4635.0  3022020.0   77.289752      80.934412
Holden High School      427.0   248087.0   83.803279      83.814988
Huang High School      2917.0  1910635.0   76.629414      81.182722
Johnson High School    4761.0  3094650.0   77.072464      80.966394
Pena High School        962.0   585858.0   83.839917      84.044699
Rodriguez High School  3999.0  2547363.0   76.842711      80.744686
Shelton High School    1761.0  1056600.0   83.359455      83.725724
Thomas High School     1635.0  1043130.0   83.418349      83.848930
Wilson High School     2283.0  1319574.0   83.274201      83.989488
Wright High School     1800.0  1049400.0   83.682222      83.955000

In [16]:
# Calculate % Passing Math series and % Passing Reading series and add these series as columns to df

s_pmath = df[df["math_score"] >= 70].sort_values("math_score").groupby("school_name")["math_score"].count()

df1["num mpassers"] = s_pmath

df1["% Passing Math"] = (df1["num mpassers"] / df1["size"]) * 100

s_preading = df[df["reading_score"] >= 70].sort_values("reading_score").groupby("school_name")["reading_score"].count()

df1["num rpassers"] = s_preading

df1["% Passing Reading"] = (df1["num rpassers"] / df1["size"]) * 100

df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading
school_name,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111

In [17]:
# Calculate % Overall Passing series and add this series as column to df

s_pboth = df[(df["math_score"] >= 70) & (df["reading_score"] >= 70)].groupby("school_name")["math_score"].count()

df1["num bothpassers"] = s_pboth

df1["% Overall Passing"] = (df1["num bothpassers"] / df1["size"]) * 100

df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading,num bothpassers,% Overall Passing
school_name,,,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333

In [18]:
# Add School Type column

df = school_data_complete.copy()

s_stype = df.groupby("school_name")["type"].max()

df1["School Type"] = s_stype

df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading,num bothpassers,% Overall Passing,School Type
school_name,,,,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283,District
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769,Charter
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476,District
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887,District
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455,Charter
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508,District
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166,Charter
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884,District
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172,District
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541,Charter
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247,District
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107,Charter
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012,Charter
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567,Charter
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333,Charter

In [20]:
# Calculate Per Student Budget and add column

df1["Per Student Budget"] = (df1["budget"] / df1["size"])

df1

,size,budget,math_score,reading_score,num mpassers,% Passing Math,num rpassers,% Passing Reading,num bothpassers,% Overall Passing,School Type,Per Student Budget
school_name,,,,,,,,,,,,
Bailey High School,4976.0,3124928.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283,District,628.0
Cabrera High School,1858.0,1081356.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769,Charter,582.0
Figueroa High School,2949.0,1884411.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476,District,639.0
Ford High School,2739.0,1763916.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887,District,644.0
Griffin High School,1468.0,917500.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455,Charter,625.0
Hernandez High School,4635.0,3022020.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508,District,652.0
Holden High School,427.0,248087.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166,Charter,581.0
Huang High School,2917.0,1910635.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884,District,655.0
Johnson High School,4761.0,3094650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172,District,650.0
Pena High School,962.0,585858.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541,Charter,609.0
Rodriguez High School,3999.0,2547363.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247,District,637.0
Shelton High School,1761.0,1056600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107,Charter,600.0
Thomas High School,1635.0,1043130.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012,Charter,638.0
Wilson High School,2283.0,1319574.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567,Charter,578.0
Wright High School,1800.0,1049400.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333,Charter,583.0

In [21]:
# Assemble school summary df, rename columns, delete index name

school_summary = df1[ ["School Type", "size", "budget", "Per Student Budget", "math_score", "reading_score", 
                      
                      "% Passing Math", "% Passing Reading", "% Overall Passing"]  ]

school_summary = school_summary.rename(columns={"size":"Total Students", "budget":"Total School Budget",
                      "math_score":"Average Math Score", "reading_score":"Average Reading Score", 
                      })

school_summary = school_summary.rename_axis(None, axis = 0)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [22]:
# Prettify df with formatting

ss_pretty = school_summary.copy()

ss_pretty["Total Students"] = ss_pretty["Total Students"].astype(int).map("{:,}".format)
ss_pretty["Total School Budget"] = ss_pretty["Total School Budget"].map("${:,.2f}".format)
ss_pretty["Per Student Budget"] = ss_pretty["Per Student Budget"].map("${:,.2f}".format)
ss_pretty["Average Math Score"] = ss_pretty["Average Math Score"].map("{:,.2f}".format)
ss_pretty["Average Reading Score"] = ss_pretty["Average Reading Score"].map("{:,.2f}".format)
ss_pretty["% Passing Math"] = ss_pretty["% Passing Math"].map("{:,.2f}%".format)
ss_pretty["% Passing Reading"] = ss_pretty["% Passing Reading"].map("{:,.2f}%".format)
ss_pretty["% Overall Passing"] = ss_pretty["% Overall Passing"].map("{:,.2f}%".format)

ss_pretty

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [23]:
# Sort by % Overall Passing from highest to lowest, show top 5

df = ss_pretty.copy()

df.sort_values("% Overall Passing", ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [24]:
# Sort by % Overall Passing from lowest to highest, show top 5

df.sort_values("% Overall Passing", ascending=True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [25]:
# Copy original merged df

df = school_data_complete.copy()
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [28]:
# Create series for each grade level

s9 = pd.Series(df["grade"] == "9th")
s10 = pd.Series(df["grade"] == "10th")
s11 = pd.Series(df["grade"] == "11th")
s12 = pd.Series(df["grade"] == "12th")

# Make new dfs for each grade level on mean of math_score, with intention to merge them

df9 = df.loc[s9, :].groupby("school_name")["math_score"].mean()
df10 = df.loc[s10, :].groupby("school_name")["math_score"].mean()
df11 = df.loc[s11, :].groupby("school_name")["math_score"].mean()
df12 = df.loc[s12, :].groupby("school_name")["math_score"].mean()

first_mmerge = pd.merge(df9, df10, on="school_name")

second_mmerge = pd.merge(df11, df12, on="school_name")


finalmath_df = pd.merge(first_mmerge, second_mmerge, on="school_name")

finalmath_df.columns = ["9th", "10th", "11th", "12th"]

finalmath_df.index.name = None

finalmath_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
# Create series for each grade level

s9 = pd.Series(df["grade"] == "9th")
s10 = pd.Series(df["grade"] == "10th")
s11 = pd.Series(df["grade"] == "11th")
s12 = pd.Series(df["grade"] == "12th")

# Make new dfs for each grade level on mean of reading_score, with intention to merge them

df9 = df.loc[s9, :].groupby("school_name")["reading_score"].mean()
df10 = df.loc[s10, :].groupby("school_name")["reading_score"].mean()
df11 = df.loc[s11, :].groupby("school_name")["reading_score"].mean()
df12 = df.loc[s12, :].groupby("school_name")["reading_score"].mean()

first_rmerge = pd.merge(df9, df10, on="school_name")

second_rmerge = pd.merge(df11, df12, on="school_name")

finalreading_df = pd.merge(first_rmerge, second_rmerge, on="school_name")

finalreading_df.columns = ["9th", "10th", "11th", "12th"]

finalreading_df.index.name = None

finalreading_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
df = school_summary.copy()



df = df[["Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

bins = [0, 584, 629, 644, 679]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

df["Per Student Budget Summary"] = pd.cut(df["Per Student Budget"], bins, labels=labels, include_lowest=True)

budget_group = df.groupby("Per Student Budget Summary")

new_df = budget_group.mean()

del new_df["Per Student Budget"]

new_df.index.name = "Spending Ranges (Per Student)"

new_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
df = school_summary.copy()

df = df[["Total Students", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

df

bins = [0, 999, 1999, 4999]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

df["School Size"] = pd.cut(df["Total Students"], bins, labels=labels, include_lowest=True)

totalstudents_group = df.groupby("School Size")
new_df = totalstudents_group.mean()
del new_df["Total Students"]
new_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
df = school_summary.copy()

df = df[["School Type", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

df

types_group = df.groupby("School Type")
new_df = types_group.mean()
new_df