### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
df = school_data_complete.copy()
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
## District Summary

# Calculate the total number of schools

total_schools = df["school_name"].nunique()

print(f"Total schools = {total_schools}")

Total schools = 15

In [5]:
## District Summary

# Calculate the total number of students

total_students = df["student_name"].count()

print(f"Total students = {total_students}")

Total students = 39170

In [7]:
## District Summary

# Calculate the total budget

def sum_unique(obj):
    return sum(obj.unique())

total_budget = sum_unique(df["budget"])

print(f"Total budget = {total_budget}")

Total budget = 24649428

In [8]:
## District Summary

# Calculate the average math score

avg_mscore = df["math_score"].mean()

print(f"Average math score = {avg_mscore}")

Average math score = 78.98537145774827

In [9]:
## District Summary

# Calculate the average reading score

avg_rscore = df["reading_score"].mean()

print(f"Average reading score = {avg_rscore}")

Average reading score = 81.87784018381414

In [10]:
## District Summary

# Calculate the percentage of students with a passing math score (70 or greater)

total_pass_math = len(df[df["math_score"] >= 70])
total_fail_math = len(df[df["math_score"] < 70])

total_take_math = total_pass_math + total_fail_math

print(f"Total pass math = {total_pass_math}")
print(f"Total fail math = {total_fail_math}")

print(total_pass_math + total_fail_math)              

print(f"Adds up? {total_students == total_pass_math + total_fail_math}") 

per_pmath = (total_pass_math / total_take_math) * 100

print(f"Total % pass math = {per_pmath}")

Total pass math = 29370
Total fail math = 9800
39170
Adds up? True
Total % pass math = 74.9808526933878

In [11]:
## District Summary

# Calculate the percentage of students with a passing reading score (70 or greater)

total_pass_reading = len(df[df["reading_score"] >= 70])
total_fail_reading = len(df[df["reading_score"] < 70])

total_take_reading = total_pass_reading + total_fail_reading

print(f"Total pass reading = {total_pass_reading}")
print(f"Total fail reading = {total_fail_reading}")

print(total_pass_reading + total_fail_reading)              
print(f"Adds up? {total_students == total_pass_reading + total_fail_reading}") 

per_preading = (total_pass_reading / total_take_reading) * 100

print(f"Total % pass reading = {per_preading}")

Total pass reading = 33610
Total fail reading = 5560
39170
Adds up? True
Total % pass reading = 85.80546336482001

In [12]:
## District Summary

# Calculate the percentage of students who passed math and reading (% Overall Passing)

total_pass_both = len(      df[   (df["reading_score"] >= 70) & (df["math_score"] >= 70) ]   )

total_take_both = total_students    

print(f"Total pass both = {total_pass_both}")
print(f"Total take both = {total_take_both}")

per_pboth = (total_pass_both / total_take_both) * 100

print(f"Total % pass both = {per_pboth}")

Total pass both = 25528
Total take both = 39170
Total % pass both = 65.17232575950983

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [38]:
## District Summary

# Create a dataframe to hold the above results

district_summary = pd.DataFrame(
    
    {
        "Total Schools" : [total_schools],
        "Total Students" : [total_students],
        "Total Budget" : [total_budget],
        "Average Math Score" : [avg_mscore],
        "Average Reading Score" : [avg_rscore],
        "% Passing Math" : [per_pmath],
        "% Passing Reading" : [per_preading],
        "% Overall Passing" : [per_pboth],                   
    }
      
)   

# district_summary
df = pd.DataFrame()

df["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
df["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
df["Total Students"] = district_summary["Total Students"].map("{:,}".format)
df["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
df["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
df["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
df["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
df["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)

df

,Total Budget,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,"$24,649,428",15,"39,170",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
# School Summary
# Create an overview table that summarizes key metrics about each school, including:

# School Name (make index)
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

df = school_data_complete.copy()

df1 = df.loc[:, ["school_name", "size", "budget", "math_score", "reading_score"]]

df1 = df1.groupby("school_name").mean()
df1

In [ ]:
s = df[df["math_score"] >= 70].sort_values("math_score").groupby("school_name")["math_score"].count()

df1["num mpassers"] = s

df1["% Passing Math"] = df1["num mpassers"] / df1["size"] * 100

s = df[df["reading_score"] >= 70].sort_values("reading_score").groupby("school_name")["reading_score"].count()

df1["num rpassers"] = s

df1["% Passing Reading"] = df1["num rpassers"] / df1["size"] * 100

df1

In [ ]:
s = df[ (df["math_score"] >= 70) & (df["reading_score"] >= 70) ].groupby("school_name")["math_score"].count()

df1["num bothpassers"] = s

df1["% Overall Passing"] = df1["num bothpassers"] / df1["size"] * 100

df1

In [ ]:
df = school_data_complete.copy()

s = df.groupby("school_name")["type"].max()

df1["School Type"] = s

df1

In [ ]:
df1["Per Student Budget"] = df1["budget"] / df1["size"] 

df1

In [ ]:
school_summary = df1[ ["School Type", "size", "budget", "Per Student Budget", "math_score", "reading_score", 
                      
                      "% Passing Math", "% Passing Reading", "% Overall Passing"]  ]

school_summary = school_summary.rename(columns={"size":"Total Students", "budget":"Total School Budget",
                      "math_score":"Average Math Score", "reading_score":"Average Reading Score", 
                      })

school_summary = school_summary.rename_axis(None, axis = 0)

school_summary

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
df = school_summary

df.sort_values("% Overall Passing", ascending=False).iloc[0:5]

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
df.sort_values("% Overall Passing", ascending=True).iloc[0:5]

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
df = school_data_complete.copy()
df

In [ ]:

s9 = pd.Series(df["grade"] == "9th")
s10 = pd.Series(df["grade"] == "10th")
s11 = pd.Series(df["grade"] == "11th")
s12 = pd.Series(df["grade"] == "12th")

df9 = df.loc[s9, :].groupby("school_name")["math_score"].mean()
df10 = df.loc[s10, :].groupby("school_name")["math_score"].mean()
df11 = df.loc[s11, :].groupby("school_name")["math_score"].mean()
df12 = df.loc[s12, :].groupby("school_name")["math_score"].mean()

new_ = pd.merge(df9, df10, on="school_name")

new_df = pd.merge(df11, df12, on="school_name")

finalmath_df = pd.merge(new_, new_df, on="school_name")

finalmath_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
s9 = pd.Series(df["grade"] == "9th")
s10 = pd.Series(df["grade"] == "10th")
s11 = pd.Series(df["grade"] == "11th")
s12 = pd.Series(df["grade"] == "12th")

df9 = df.loc[s9, :].groupby("school_name")["reading_score"].mean()
df10 = df.loc[s10, :].groupby("school_name")["reading_score"].mean()
df11 = df.loc[s11, :].groupby("school_name")["reading_score"].mean()
df12 = df.loc[s12, :].groupby("school_name")["reading_score"].mean()

new_ = pd.merge(df9, df10, on="school_name")

new_df = pd.merge(df11, df12, on="school_name")

finalreading_df = pd.merge(new_, new_df, on="school_name")

finalreading_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
df = school_summary.copy()



df = df[["Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

bins = [0, 584, 629, 644, 679]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

df["Per Student Budget Summary"] = pd.cut(df["Per Student Budget"], bins, labels=labels, include_lowest=True)

budget_group = df.groupby("Per Student Budget Summary")
new_df = budget_group.mean()
del new_df["Per Student Budget"]
new_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
df = school_summary.copy()

df = df[["Total Students", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

df

bins = [0, 999, 1999, 4999]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

df["School Size"] = pd.cut(df["Total Students"], bins, labels=labels, include_lowest=True)

totalstudents_group = df.groupby("School Size")
new_df = totalstudents_group.mean()
del new_df["Total Students"]
new_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
df = school_summary.copy()

df = df[["School Type", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

df

types_group = df.groupby("School Type")
new_df = types_group.mean()
new_df