### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
district_summary_df = pd.DataFrame(
    [[0, 0, 0, 0, 0, 0, 0, 0]], columns=[
    "Total Schools", "Total Students", "Total Budget", 
     "Average Math Score", "Average Reading Score", 
     "% Passing Math", "% Passing Reading", "% Passing Overall"]  )

In [4]:
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,0,0,0,0,0,0,0,0

In [5]:
total_schools = school_data_complete["school_name"].nunique()

In [6]:
district_summary_df["Total Schools"] = total_schools

In [7]:
total_students = school_data_complete["student_name"].nunique()

In [8]:
district_summary_df["Total Students"] = total_students

In [9]:
total_budget = school_data_complete["budget"].sum()

In [10]:
district_summary_df["Total Budget"] = total_budget

In [11]:
average_math = school_data_complete["math_score"].mean()

In [12]:
district_summary_df["Average Math Score"] = average_math

In [13]:
average_reading = school_data_complete["reading_score"].mean()

In [14]:
district_summary_df["Average Reading Score"] = average_reading

In [15]:
math_filter_ = school_data_complete["math_score"] >= 70.0

In [16]:
percent_pass_math = (school_data_complete[math_filter_].count() / school_data_complete["math_score"].count()) * 100

In [17]:
type(percent_pass_math)

pandas.core.series.Series

In [18]:
percent_pass_math[0]

74.9808526933878

In [19]:
district_summary_df["% Passing Math"] = percent_pass_math[0]

In [20]:
reading_filter_ = school_data_complete["reading_score"] >= 70.0

In [21]:
percent_pass_reading = (school_data_complete[reading_filter_].count() / school_data_complete["reading_score"].count()) * 100

In [22]:
district_summary_df["% Passing Reading"] = percent_pass_reading[0]

In [23]:
overall_filter_ = (school_data_complete["math_score"] >= 70.0) & (school_data_complete["reading_score"] >= 70.0)

In [24]:
school_data_complete[overall_filter_].count()

Student ID       25528
student_name     25528
gender           25528
grade            25528
school_name      25528
reading_score    25528
math_score       25528
School ID        25528
type             25528
size             25528
budget           25528
dtype: int64

In [25]:
school_data_complete["reading_score"].count()

39170

In [26]:
percent_pass_overall = (school_data_complete[overall_filter_].count() / school_data_complete["reading_score"].count()) * 100

In [27]:
percent_pass_overall

Student ID       65.172326
student_name     65.172326
gender           65.172326
grade            65.172326
school_name      65.172326
reading_score    65.172326
math_score       65.172326
School ID        65.172326
type             65.172326
size             65.172326
budget           65.172326
dtype: float64

In [28]:
district_summary_df["% Passing Overall"] = percent_pass_overall[0]

In [29]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,32715,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type